/* Gotham Medium - Para títulos y elementos destacados */
@font-face {
  font-family: "Gotham";
  src: url("./Gotham/Gotham Medium/Gotham Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Roboto Light - Para encabezados principales, subtítulos y textos */
@font-face {
  font-family: "Roboto";
  src: url("./Roboto/static/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Roboto Regular - Para textos generales */
@font-face {
  font-family: "Roboto";
  src: url("./Roboto/static/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Variables CSS para las fuentes */
:root {
  --font-heading: "Gotham", sans-serif;
  --font-body: "Roboto", sans-serif;
}
